<!DOCTYPE html>
<html>
<head>
    <title>Guess the Emoji Game</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <div id="game-container">
        <h2>Guess the next emoji:</h2>
        <select id="emoji-guess">
            <option value="😀">😀</option>
            <option value="😂">😂</option>
            <option value="🥳">🥳</option>
            <option value="🤩">🤩</option>
            <option value="😎">😎</option>
            <option value="😊">😊</option>
            <option value="☁️">☁️</option>
        </select>
        <button id="guess-btn">Guess!</button>
        <div id="guess-result"></div>
    </div>

    <script src="static/js/guess_script.js"></script>
</body>
</html>
